<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>AirBnB</title>

    <link rel="stylesheet" href="../static/styles/4-common.css" />
    <link rel="stylesheet" href="../static/styles/3-header.css" />
    <link rel="stylesheet" href="../static/styles/3-footer.css" />
    <link rel="stylesheet" href="../static/styles/6-filters.css" />
    <link rel="stylesheet" href="../static/styles/8-places.css" />
    <link rel="icon" type="images/png" href="../static/images/icon.png" />
</head>

<body>
    <header class="logo">
        <div class="logo"></div>
    </header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <h4>California, Arizona...</h4>
                <div class="popover">
                    <ul>
                        <li>
                            <h2>California</h2>
                            <ul>
                                <li>Tracy</li>
                                <li>Hayward</li>
                                <li>Los Angeles</li>
                            </ul>
                        </li>
                        <li>
                            <h2>Arizona</h2>
                            <ul>
                                <li>Sedona</li>
                                <li>Phoenix</li>
                                <li>Mesa</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <h4>WIFI, kitchen...</h4>
                <ul class="popover">
                    <li>WIFI</li>
                    <li>Kitchen</li>
                    <li>Swimming pool</li>
                    <li>Bedroom</li>
                </ul>
            </div>
            <button type="button">Search</button>
        </section>



        <section class="places">
            <h1>Places</h1>
            <div class="articles">

                <article>
                    <h2>My home</h2>
                    <div class="price_by_night">
                        <p>$80</p>
                    </div>
                    <div class="information">
                        <div class="max_guest"><span>4 Guests</span></div>
                        <div class="number_rooms"><span>4 Bedrooms</span></div>
                        <div class="number_bathrooms"><span>2 Bathrooms</span></div>
                    </div>
                    <div class="user">
                        <b>Owner:</b> Sophia Terry
                    </div>
                    <div class="description">
                        <p>
                            Staying at this Airbnb was like stepping into a Hallmark movie! The house was so charming
                            and
                            cozy that I half-expected to find Santa Claus in the living room. From the moment we
                            arrived, we
                            felt like royalty. The king-sized bed was so comfy that it made me forget about my throne
                            back
                            home. And the kitchen? Let's just say Gordon Ramsay would've been jealous of my culinary
                            skills
                            after using it. The backyard was perfect for a game of hide-and-seek with my inner child.
                            Overall, this place is like a warm, fuzzy hug from a teddy bear. Can't wait to come back!
                        </p>
                        <p>Winnie 😊</p>
                        <p>Rating: ★★★★★</p>
                    </div>
                </article>

                <article>
                    <h2>Tiny house</h2>
                    <div class="price_by_night">
                        <p>$50</p>
                    </div>

